{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Create Listing</h2>
                    <form action="{% url 'insert_listing' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary btn-block mt-4" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
